@import "../../../Palette/Palette.scss";
@import "../../../Font/Font.scss";

#CategorySection {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: $brown-light;

  .card {
    // position: absolute;
    display: flex;
    // background: purple;
    justify-content: center;
    padding: 20px;
  }
}

@media screen and (max-width: 790px) {
  #CategorySection {
    flex-direction: column;
    gap: 10px;
  }
}
