$comforta-font: "Comfortaa", cursive;
$inter-font: "Inter", sans-serif;
$poppins-font: "Poppins", sans-serif;
$quicksand-font: "Quicksand", sans-serif;

@font-face {
  font-family: "CreatoDisplay";
  src: url("./CreatoDisplay-Regular.otf");
}

@font-face {
  font-family: "Akira";
  src: url("./AkiraExpandedDemo.otf");
}

@font-face {
  font-family: "Monument";
  src: url("./MonumentExtended-Regular.otf");
}

@font-face {
  font-family: "Monumen-Bold";
  src: url("./MonumentExtended-Ultrabold.otf");
}

@font-face {
  font-family: "Archivo-expanded-extrabold";
  src: url("./Archivo_Expanded-ExtraBold.ttf");
}

@font-face {
  font-family: "Archivo-expanded";
  src: url("./Archivo_Expanded-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@700&family=Poppins:wght@200;300;400;500;600&family=Quicksand:wght@300;400;500;600;700&display=swap");
