@font-face {
    font-family: 'Monument';
    src: url("./MonumentExtended-Regular.otf");
}

@font-face {
    font-family: 'Akira';
    src: url("./Akira\ Expanded\ Demo.otf");
}

@font-face {
    font-family: 'CreatoDisplay';
    src: url("./CreatoDisplay-Regular.otf");
}