@import "../../../Font/Font.scss";
@import "../../../Palette/Palette.scss";

.contact {
    background-color: $black;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;

    .newsletter {
        z-index: 2;
        position: relative;
        display: flex;
        color: $white;
        font-family: 'Archivo-expanded';
        text-align: center;
        font-size: 3vw;
        width: 45vw;
        height: fit-content;
        margin-bottom: 10vh;
    }

    .textfield {
        z-index: 2;
        position: relative;
        font-family: 'Archivo-expanded';
        display: flex;
        flex-direction: column;
        width: 40vw;

        h1 {
            font-family: 'Archivo-expanded';
            font-weight: lighter;
            font-size: 1.3vw;
            text-align: center;
            color: $white;
        }
    }

    .images {
        position: absolute;
        z-index: 1;
        opacity: 40%;
        width: 100vw;
        height: 100vh;

        .flanel {
            width: 15vw;
            height: 45vh;
            object-fit: cover;
            margin-top: 20vh;
            margin-left: 13vw;
            position: absolute;
        }

        .hoodie {
            position: absolute;
            width: 10vw;
            height: 30vh;
            object-fit: cover;
            margin-top: 60vh;
            margin-left: 23vw;
        }

        .shirt {
            position: absolute;
            width: 10vw;
            height: 30vh;
            object-fit: cover;
            margin-left: 40%;
            margin-top: 40vh;
        }

        .floralshirt {
            position: absolute;
            width: 15vw;
            height: 40vh;
            object-fit: cover;
            margin-left: 65vw;
            margin-top: 14vh;
        }

        .jacket {
            position: absolute;
            width: 11vw;
            height: 37vh;
            object-fit: cover;
            margin-left: 67vw;
            margin-top: 50vh;
        }
    }

    @media screen and (max-width: 768px) {
        .newsletter {
            font-family: 'Archivo-expanded';
            text-align: center;
            font-size: 6vw;
            width: 90vw;
            height: fit-content;
            margin-bottom: 10vh;
        }

        .textfield {
            width: 90vw;
            font-family: 'Archivo-expanded';
            display: flex;
            flex-direction: column;
        }

        .images {
            .flanel {
                width: 25vw;
                height: 30vh;
            }

            .hoodie {
                width: 22vw;
                height: 27vh;
            }

            .shirt {
                width: 20vw;
                height: 20vh;
            }

            .floralshirt {
                width: 20vw;
                height: 28vh;
            }

            .jacket {
                width: 25vw;
                height: 30vh;
            }
        }
    }
}
