@import "../../../Font/Font.scss";
@import "../../../Palette/Palette.scss";

@mixin setWidthHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setImageStyle($post, $objectFit, $width, $height, $mrgnTop, $mrgnLeft) {
  position: $post;
  object-fit: $objectFit;
  @include setWidthHeight($width, $height);
  margin: $mrgnTop 0 0 $mrgnLeft;
}

.contact {
  min-height: 100vh;
  background-color: $black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow-x: hidden;

  .newsletter {
    z-index: 2;
    position: relative;
    display: flex;
    color: $white;
    font-family: "Archivo-expanded";
    text-align: center;
    font-size: 3vw;
    width: 45vw;
    height: fit-content;
    margin-bottom: 10vh;
  }

  .textfield {
    z-index: 2;
    position: relative;
    font-family: "Archivo-expanded";
    display: flex;
    flex-direction: column;
    width: 40vw;

    h1 {
      margin-bottom: 20px;
      font-family: "Archivo-expanded";
      font-weight: lighter;
      font-size: 1.3vw;
      text-align: center;
      color: $white;
    }
  }

  .images {
    position: absolute;
    z-index: 1;
    opacity: 40%;
    @include setWidthHeight(100vw, 100vh);

    .flanel {
      @include setImageStyle(absolute, cover, 15vw, 45vh, 20vh, 13vw);
    }

    .hoodie {
      @include setImageStyle(absolute, cover, 10vw, 30vh, 60vh, 23vw);
    }

    .shirt {
      @include setImageStyle(absolute, cover, 10vw, 30vh, 40vh, 40%);
    }

    .floralshirt {
      @include setImageStyle(absolute, cover, 15vw, 40vh, 14vh, 65vw);
    }

    .jacket {
      @include setImageStyle(absolute, cover, 11vw, 37vh, 50vh, 67vw);
    }
  }

  @media screen and (max-width: 768px) {
    .newsletter {
      font-family: "Archivo-expanded";
      text-align: center;
      font-size: 6vw;
      margin-bottom: 10vh;
      @include setWidthHeight(90vw, fit-content);
    }

    .textfield {
      width: 90vw;
      font-family: "Archivo-expanded";
      display: flex;
      flex-direction: column;

      h1 {
        font-size: medium;
      }
    }

    .images {
      .flanel {
        @include setWidthHeight(25vw, 30vh);
      }

      .hoodie {
        @include setWidthHeight(22vw, 27vh);
      }

      .shirt {
        @include setWidthHeight(20vw, 20vh);
      }

      .floralshirt {
        @include setWidthHeight(20vw, 28vh);
      }

      .jacket {
        @include setWidthHeight(25vw, 30vh);
      }
    }
  }
}
