@import "../../../Font/Font.scss";
@import "../../../Palette/Palette.scss";

@mixin setTextSize($sizeFont, $lineHeight, $leftMargin) {
  font-size: $sizeFont;
  line-height: $lineHeight;
  margin-left: $leftMargin;
}

@mixin setTextStyle($color, $width: fit-content, $zIndex, $fontFamily) {
  color: $color;
  width: $width;
  z-index: $zIndex;
  font-family: $fontFamily;
}

.home {
  min-height: 100vh;
  background-color: $brown-light;
  padding-top: 10vh;
  position: relative;

  h1 {
    position: relative;
    @include setTextStyle($black, fit-content, 2, "Archivo-expanded-extrabold");
    @include setTextSize(8vw, 8vw, 4vw);
  }

  h2 {
    position: relative;
    @include setTextStyle($white, fit-content, 2, "Archivo-expanded-extrabold");
    @include setTextSize(8vw, 8vw, 4vw);
  }

  h3 {
    padding-top: 10vh;
    @include setTextStyle($black, fit-content, 2, "Archivo-expanded");
    @include setTextSize(2vw, none, 4.5vw);
  }

  img {
    position: absolute;
    opacity: 0.9;
    top: 0;
    right: 0;
    height: 100vh;
    width: 43vw;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {
    h1 {
      @include setTextSize(10vw, 10vw, 4.5vw);
    }

    h2 {
      @include setTextSize(10vw, 10vw, 4.5vw);
    }

    h3 {
      @include setTextSize(3vw, none, 4.5vw);
      padding-top: 7vh;
    }

    img {
      margin-top: 10vh;
      position: relative;
      width: 100%;
      height: 40vh;
    }
  }
}
