@import "../../../Font/Font.scss";
@import "../../../Palette/Palette.scss";

.DivSection {
  background-color: $brown-light;

  .left_aligned {
    font-family: "Archivo-expanded-extrabold";
    text-transform: uppercase;
    text-align: left;
    position: relative;
    color: $black;
    font-size: 8rem;
    margin-left: 4vw;
    padding-top: 9vh;
  }

  .right_aligned {
    font-family: "Archivo-expanded-extrabold";
    text-align: right;
    text-transform: uppercase;
    position: relative;
    color: $white;
    font-size: 8rem;
    margin-right: 4vw;
  }

  .description_holder {
    font-family: "Archivo-expanded";
    text-align: justify;
    width: 50vw;
    position: relative;
    display: flex;
    margin-left: 4.5vw;
    color: $black;
    font-size: 1.3rem;
    line-height: 2rem;
    padding-bottom: 9vh;
  }

  .arrow {
    font-family: "Archivo-expanded";
    width: fit-content;
    position: relative;
    display: flex;
    color: $black;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: right;
    margin-left: auto;
    padding-top: 2vh;
    padding-right: 5vw;
    cursor: pointer;
    &:hover {
      color: $brown;
    }
  }

  .arrow_bottom {
    display: none;
  }

  .productCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, auto));
    justify-content: space-between;
    // justify-content: center;
    gap: 20px;
    padding-inline: 4.5vw;
  }

  @media screen and (max-width: 1000px) {
    .left_aligned {
      margin-left: 3vw;
      font-size: 11vw;
    }

    .right_aligned {
      margin-right: 3vw;
      font-size: 11vw;
    }

    .description_holder {
      margin-top: 5vh;
      width: 90vw;
      font-size: 0.9rem;
      line-height: 1.5rem;
      padding-bottom: 5vh;
    }

    .arrow {
      display: none;
    }

    .arrow_bottom {
      width: fit-content;
      position: relative;
      display: flex;
      font-family: "Archivo-expanded";
      color: $black;
      font-weight: 600;
      font-size: 0.9rem;
      text-decoration: none;
      text-align: right;
      margin-left: auto;
      padding: 2vh 4vw 2vh 0;
      cursor: pointer;

      &:hover {
        color: $brown;
      }
    }
  }
}
