@import "../../../Font/Font.scss";
@import "../../../Palette/Palette.scss";

@mixin setTextPos($fontFamily, $textAlign, $position) {
  font-family: $fontFamily;
  text-align: $textAlign;
  position: $position;
}

@mixin setTextStyle($color, $sizeFont) {
  color: $color;
  font-size: $sizeFont;
}

@mixin setDisplayText($displayText, $textWidth, $textWeight, $textDecoration) {
  display: $displayText;
  width: $textWidth;
  font-weight: $textWeight;
  text-decoration: $textDecoration;
}

.DivSection {
  background-color: $brown-light;
  padding-bottom: 3em;

  .left_aligned {
    @include setTextPos("Archivo-expanded-extrabold", left, relative);
    @include setTextStyle($black, 8rem);
    margin-left: 4vw;
    padding-top: 9vh;
  }

  .right_aligned {
    @include setTextPos("Archivo-expanded-extrabold", right, relative);
    @include setTextStyle($white, 8rem);
    margin-right: 4vw;
  }

  .description_holder {
    @include setTextPos("Archivo-expanded", justify, relative);
    @include setTextStyle($black, 1.3rem);
    @include setDisplayText(flex, 70vw, normal, none);

    margin-left: 4.5vw;
    padding-bottom: 9vh;
    line-height: 2rem;
  }

  .arrow {
    @include setTextPos("Archivo-expanded", right, relative);
    @include setTextStyle($black, 1.1rem);
    @include setDisplayText(flex, fit-content, 600, none);

    margin-left: auto;
    padding-top: 2vh;
    padding-right: 5vw;
    cursor: pointer;
    &:hover {
      color: $brown;
    }
  }

  .arrow_bottom {
    display: none;
  }

  .productCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, auto));
    justify-content: space-around;
    gap: 20px;
    padding-inline: 4.5vw;
  }

  @media screen and (max-width: 1000px) {
    .left_aligned {
      margin-left: 3vw;
      font-size: 11vw;
    }

    .right_aligned {
      margin-right: 3vw;
      font-size: 11vw;
    }

    .description_holder {
      margin-top: 5vh;
      width: 90vw;
      font-size: 0.9rem;
      line-height: 1.5rem;
      padding-bottom: 5vh;
    }

    .arrow {
      display: none;
    }

    .arrow_bottom {
      @include setTextPos("Archivo-expanded", right, relative);
      @include setTextStyle($black, 0.9rem);
      @include setDisplayText(flex, fit-content, 600, none);

      margin-left: auto;
      padding: 2vh 4vw 2vh 0;
      cursor: pointer;
      &:hover {
        color: $brown;
      }
    }
  }
}
