@import "../../Palette/Palette.scss";
@import "../../Font/Font.scss";

.header {
  font-family: "Akira";
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  background-color: $white;
  color: $black;
  padding-inline: 4.5vw;

  .title {
    text-decoration: none;
    font-size: 3vh;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
  }

  .navmenu {
    font-family: "Monument";
    margin-left: auto;
    font-size: 1.8vh;
    transition: all 0.5s ease;

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;

      li {
        text-align: center;
        cursor: pointer;
        list-style-type: none;
        margin-left: 2rem;
        transition: all 0.3s ease;

        a {
          text-decoration: none;
          display: block;
          width: 100%;

          span {
            color: $black;
            cursor: pointer;

            &:hover {
              color: $brown;
            }
          }
        }
      }
    }
  }

  .navmenuhidden {
    display: none;
  }

  .navmenuexpanded {
    z-index: 3;

    ul {
      display: block;
      position: absolute;
      top: 6vh;
      right: 0;
      flex-direction: column;
      width: 100%;
      background-color: white;
      text-align: center;
      transition: all 0.3s ease;

      li {
        cursor: pointer;
        font-family: "Monument";
        font-size: 0.8rem;
        list-style-type: none;
        margin: 5vh;

        a {
          text-decoration: none;
          display: block;
          width: 100%;

          span {
            color: $black;
            cursor: pointer;

            &:hover {
              color: $brown;
            }
          }
        }
      }
    }
  }

  .hamburgerhidden {
    display: none;
  }

  .hamburgershown {
    border: 0;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.45rem;
    border-radius: 50%;
    background-color: $black;
    color: $white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    z-index: 4;
    position: absolute;
    top: 50%;
    right: 5vw;
    transform: translateY(-50%);

    &:hover {
      background-color: $brown;
    }
  }
}
