@import "../../Palette/Palette.scss";
@import "../../Font/Font.scss";

.header {
  font-family: "Akira";
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  background-color: $white;
  color: $black;
  padding-inline: 4.5vw;

  .title {
    text-decoration: none;
    font-size: 3vh;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
  }

  .navmenu {
    font-family: "Monument";
    margin-left: auto;
    font-size: 1.8vh;
    transition: all 0.5s ease;

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      li {
        text-align: center;
        cursor: pointer;
        list-style-type: none;
        margin-left: 2rem;
        transition: all 0.3s ease;
        &:hover {
          color: $brown;
        }

        a {
          text-decoration: none;
          display: block;
          width: 100%;
        }
      }
    }
  }

  .navmenushrunk {
    display: none;
  }
}
