$black: #1a1a1a;
$white: #fff;

$brown: #bf8c4e;
$brown-light: #e1dedb;

$gray-100: #111;
$gray-200: #222;
$gray-300: #333;
$gray-400: #444;
$gray-500: #555;
$gray-600: #666;
$gray-700: #777;
$gray-800: #888;
$gray-900: #999;
