@import "./Palette/Palette.scss";
@import "./Font/Font.scss";

* {
  cursor: default;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: auto;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: $brown-light;
}
